<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation-float.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation-prototype.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation-rtl.min.css"
          crossorigin="anonymous">
    <title>Kardex App</title>
</head>
<body>
<section class="row">
    <header class="large-12 columns">
        <h1>Bienvenido al Control de Calificaciones</h1>
        <hr>
    </header>
</section>

<section class="row">

    <div class="large-8 columns">
        {% block content %}{% endblock %}
    </div>

    <div class="large-4 columns">
        <h3>About Me</h3>
        <p>I am a Python developer and I like Django.</p>
    </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js"
        crossorigin="anonymous"></script>
</body>
</html>